@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);

html {
  background: #f2f3f1;
  color: #333;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #3be;
}

footer {
  clear: both;
  font-size: 0.75em;
  text-align: center;
  padding-top: 5em;
  position: relative;

  &:before {
    border-top: solid 1px #999;
    content: '';
    position: absolute;
    top: 2em;
    left: 50%;
    margin-left: -25px;
    width: 50px;
  }

  .heart{
    color: #900;
  }
}
